<!DOCTYPE html>
<html>
    <head>
        <title>Vaping Soul</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head >
    <body>
        <form action="action_page.php">
            <div class="container">
                <h1>Register</h1>
                <p>Completar Datos para registrarse.</p>
                <link href="../../static/css/style_registro.css" rel="stylesheet" type="text/css"/>
                <hr>

                <label for="email"><b>Email</b></label>
                <input type="text" placeholder="Enter Email" name="email" id="email" required>

                <label for="psw"><b>Password</b></label>
                <input type="password" placeholder="Enter Password" name="psw" id="psw" required>

                <label for="psw-repeat"><b>Repeat Password</b></label>
                <input type="password" placeholder="Repeat Password" name="psw-repeat" id="psw-repeat" required>
                <hr>
                <label for="psw"><b>Username</b></label>
                <input type="password" placeholder="Enter Password" name="psw" id="psw" required>

                <p>Al crear tu usuario estas de acuerdo con los terminos y condiciones <a href="#">Terms & Privacy</a>.</p>
                <button type="submit" class="registerbtn">Registrarse</button>
            </div>

            <div class="container signin">
                <p>Ya tienes una cuenta? <a href="#">Sign in</a>.</p>
            </div>
        </form>
    </body>
</html>
