<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head th:replace="~{tienda/head :: head}">
        <title>Vaping Soul</title>      
    </head>
    <body>
         <header th:replace="~{tienda/header :: nav}"/>
         <div class="userInfo" th:fragment="userInfo">
            <img th:src="${#authentication.principal.rutaImagen}" alt="">
            <h1 th:text="${#authentication.principal.username}"></h1>
        </div>
        <footer th:replace="~{tienda/footer :: footer}"/>
    </body>
</html>
