<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head th:replace="~{tienda/head :: head}" >
        <title>Vaping Soul</title>      
    </head>
    <body class="fondo">
        <header th:replace="~{tienda/header :: nav}"/>
        <div th:replace="~{vape/fragmentos :: vapes}"></div>
        <br></br>
        <br></br>
        <br></br>
        <footer th:replace="~{tienda/footer :: footer}"/>
    </body>
</html>
